.sidebar
  font-size: 14px
  background-color: #fff
  width: 20rem
  position: fixed
  z-index: 10
  margin: 0
  top:0
  left: auto
  bottom: 0
  box-sizing: border-box
  border-right: 1px solid #eaecef
  overflow-y: auto

.navbar
  max-width: 1381px;
  margin: 0 auto;
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #fff
  box-sizing border-box
  border-bottom 1px solid $borderColor